@media (max-width: 600px) {
    .nav {
      /* Convierte el elemento contenedor del menú en un contenedor flexible */
      display: flex;
      /* Centra los elementos del menú horizontalmente */
      justify-content: center;
      /* Centra los elementos del menú verticalmente */
      align-items: center;
    }
}




body {
    background-color: antiquewhite;
  }
  
  .nav {
    background-color: purple;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .nav li {
    float: left;
  }
  
  .nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav a:hover {
    color: #572364;
  }
  
  .button {
    width: 150px;
    height: 50px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s;
    margin: 15px;
    white-space: nowrap;
  }
  
  .button:hover {
    transform: scale(1.3);
    background-color: #572364;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
  }
  
  /* Apl
  